<aside class="tripDetail">
    <header class="tripDetailHeader">
        <span class="tripDetailTittle"> DETALLE DEL VIAJE </span>

        <div class="TripDetailButtons">

            <button 
                type="button"
                class="editTripButton"
                (click)="editTrip()">
                <i class="bi bi-pencil"></i>
            </button>

            <button
                type="button"
                class="closeButton"
                (click)="closePopUp()">
                ✕
            </button>

        </div>
    </header>
</aside>