<div class="tripCard">
    <div class="tripImageContainer">
        <span class="tripStatusChip" [ngClass]="trip.status">
            {{statusLabel()}}
        </span>
        <img 
            class="tripImage" 
            [src]="trip.destinyImage" 
            [alt]="trip.destinyPlace">
    </div>
    <div class="tripMain">
        <div class="tripHeader">
            <div>
                <h4 class="tripName">{{trip.name}}</h4>
                <p class="tripDates">
                    {{ trip.startDate | dateRange:trip.endDate }}
                </p>
            </div>

            <div class="tripPrice">
                {{trip.costPerPerson}}€
            </div>
        </div>

        <div class="tripButtons">
            @if (mode ==='available') {
                <button
                    type="button" 
                    class="joinButton"
                    (click)="joinPopUp()">
                    <i class="bi bi-people"></i>
                    UNIRSE
                </button>
                <button
                    type="button" 
                    class="detailsButton"
                    (click)="viewDetails()">
                    <i class="bi bi-eye"></i>
                    VER DETALLE
                </button>   
            } @if(mode === 'mine') {
                <button
                    type="button" 
                    class="editButton"
                    (click)="editTrip()">
                    <i class="bi bi-pencil"></i>
                    EDITAR
                </button>
                <button
                    type="button" 
                    class="deleteButton"
                    (click)="deleteTrip()">
                    <i class="bi bi-x-lg"></i>
                    ELIMINAR
                </button>
                <button
                    type="button" 
                    class="requestsButton"
                    (click)="showRequests()">
                    <i class="bi bi-bell"></i>
                    SOLICITUDES
                </button>
                <button
                    type="button" 
                    class="detailsButton"
                    (click)="viewDetails()">
                    <i class="bi bi-eye"></i>
                    VER DETALLE
                </button> 
            }    
            @if(mode ==='available' && isParticipant){
                <div class="participationChip participationInside">{{participationLabel()}}</div>
            }
        </div>

    </div>

</div>