.tripsPage {
  padding: 24px 80px;
}

/* Cabecera de la página: título + select + botón CREAR VIAJE */
.tripsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

/* Columna con título + select  */
.tripsTitleGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tripsTitleGroup h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

/* Select de tipo de viaje */
.tripTypeSelect {
  width: 160px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  font-size: 12px;
}

/* Botón CREAR VIAJE */
.createTripButton {
  padding: 6px 16px;
  border-radius: 4px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  cursor: pointer;
}

/* Filtros */

.tripsFilters {
  display: flex;
  align-items: flex-end; 
  justify-content: flex-end;
  gap: 12px;
  margin: 24px 0;
}

/* Input de filtros */

.filterInput {
  padding: 6px 16px;
  border-radius: 999px;
  border: 1px solid #dddddd;
  font-size: 12px;
  background-color: #ffffff;
  outline: none;
}

/* Bloque Presupuesto */

.budgetContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.budgetLabel {
  font-size: 11px;
  color: #555555;
}

.budgetInputContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 10px;
  border-radius: 999px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

.budgetInput {
  border: none;
  outline: none;
  width: 70px;
  font-size: 12px;
}

/* Quitar las flechas del input del number*/
.budgetInput::-webkit-outer-spin-button,
.budgetInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.budgetInput[type="number"] {
  -moz-appearance: textfield;
}

.budgetCurrency {
  font-size: 12px;
  color: #555555;
}

.clearBudgetButton {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 12px;
  padding: 0 4px;
}

/* Botones de acciones de filtros */

.clearFiltersButton {
  border: none;
  background: transparent;
  font-size: 11px;
  cursor: pointer;
  color: #555555;
}

.searchButton {
  padding: 6px 16px;
  border-radius: 4px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  cursor: pointer;
}


.joinTripContainer, .deleteTripContainer, .detailTripContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

