<app-trips-header></app-trips-header>
<div class="tripsPage">
<section class="tripsHeader">

    <div class="headerLeft">
        <div class="tripsTitleGroup">
            <h2>Viajes</h2>

            <select 
                class="tripTypeSelect"
                [ngModel]="mode"
                (ngModelChange)="changeMode($event)">
                <option value="available">Viajes disponibles</option>
                <option value="mine">Mis viajes</option>
            </select>
        </div>
    </div>

    <div class="filtersRight">

        <div class="filterContainer">
            <label class="filterLabel" for="destinationInput">Destino</label>
            <input id="destinationInput" type="text" class="filterInput"
                   [(ngModel)]="filters.destination" (ngModelChange)="searchTrips()">
        </div>

        <div class="filterContainer">
            <label class="filterLabel" for="startDateInput">Fecha alta</label>
            <input id="startDateInput" type="date" class="filterInput"
                   [(ngModel)]="filters.startDate" [min]="today" (ngModelChange)="searchTrips()">
        </div>

        <div class="filterContainer">
            <label class="filterLabel" for="endDateInput">Fecha baja</label>
            <input id="endDateInput" type="date" class="filterInput"
                   [(ngModel)]="filters.endDate" [min]="filters.startDate || today" (ngModelChange)="searchTrips()">
        </div>

        <div class="filterContainer">
            <label class="filterLabel" for="budgetInput">Presupuesto (€)</label>
            <div class="budgetInputContainer">
                <input id="budgetInput" type="number" class="budgetInput" min="0" max="10000"
                       [(ngModel)]="filters.price" (ngModelChange)="searchTrips(); onMaxCostChange($event)">
            </div>
        </div>

        <button type="button" class="clearFiltersButton" (click)="clearFilters()">LIMPIAR</button>

        <div class="createTripSlot">
            <button
                type="button"
                class="createTripButton"
                (click)="createTripPopUp()"
                [class.invisible]="mode !== 'mine'">
                CREAR VIAJE
            </button>
        </div>

    </div>
</section>

    <section>

        @if(loading){
            <div class="no-trips-message">Cargando Viajes...</div>
        }

        @if(!loading && trips.length === 0){
            <div class="no-trips-message">
            <span>{{mode === 'mine' ? "No se encuentra ningún viaje creado. ¡Crea uno o aplica otro tipo de filtro!" : "No se encuentran viajes disponibles. ¡Aplica otro tipo de filtro¡"}}</span>
            </div>
        }

        @else {
            <div class="tripsCards">
            @for(trip of trips; track trip.id){
                <app-trips-card 
                    [trip]="trip"
                    [mode]="mode"
                    (joinClicked)="onOpenPopUp(trip, 'join', null)"
                    (deleteClicked)="onOpenPopUp(trip, 'delete', null)"
                    (detailClicked)="onOpenPopUp(trip, 'detail', null)"
                    (editClicked)="onOpenPopUp(trip, 'form', 'edit')"
                    (requestClicked)="onOpenPopUp(trip, 'request', null)">
                </app-trips-card>
            }
            </div>
        }
    </section>

    @if(selectedTrip && popUpType === 'join'){
        <div class="joinTripContainer">
            <app-join-trip
                [trip]="selectedTrip"
                (close)="onClosePopUp()">
            </app-join-trip>
        </div>
    }

    @if(selectedTrip && popUpType === 'delete'){
        <div class="deleteTripContainer">
            <app-delete-trip
                [trip]="selectedTrip"
                (close)="onClosePopUp()">
            </app-delete-trip>
        </div>
    }

    @if(selectedTrip && popUpType === 'detail'){
        <div class="detailTripContainer">
            <app-detail-trip
                [trip]="selectedTrip"
                [tripMode]="mode"
                (editFormClicked)="onOpenPopUp(selectedTrip, 'form', 'edit')"
                (close)="onClosePopUp()">
            </app-detail-trip>
        </div>
    }

    @if(selectedTrip && popUpType === 'form' && tripFormMode === 'edit'){
        <div class="formTripContainer">
            <app-trip-form
                [trip]="selectedTrip" 
                [formMode]="'edit'"
                (close)="onClosePopUp()">
            </app-trip-form>
        </div>
    }

    @if(popUpType==='form'&& tripFormMode === 'create'){
        <div class="formTripContainer">
            <app-trip-form
                [trip]="null"
                [formMode]="'create'"
                (close)="onClosePopUp()">
            </app-trip-form>
        </div>
    }
    
    @if (popUpType === 'request' && selectedTrip) {
        <div class="popup-overlay" (click)="onClosePopUp()">
            <div class="popup" (click)="$event.stopPropagation()">
                <app-petitions [trip]="selectedTrip"  (close)="onClosePopUp()">></app-petitions>
            </div>
        </div>
    }
</div>