

<form [formGroup]="userForm" (ngSubmit)="submitUser()">
      @if(register!){
      <div class="formField">
            <label for="username">Nombre</label>
            <input type="text" name="username" id="username" placeholder="Introduce el valor" formControlName="username">
      </div>
      }
      <div class="formField">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Introduce el valor" formControlName="email">
      </div>

      <div class="formField">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Introduce el valor" formControlName="password">
      </div>
</form>
