<body>
  <div class="container">
    <div class="grid">
      <!-- Columna 1 -->
      <div class="image-col">
        <img
          src="https://images.unsplash.com/photo-1522276498395-f4f68f7f8452?q=80&w=1600&auto=format&fit=crop"
          alt="Sample"
        />
      </div>

      <!-- Columna 2 -->
      <div class="content-col">
        <app-login-header></app-login-header>
        <h2>{{subtitle}}</h2>
        @switch (state) {
          @case ('initial') {
            <p>
              Conecta con personas con las mismas ganas de explorar el mundo, ofreciendo una plataforma
          web para organizar viajes en grupo. Aquí podrás compartir gastos, experiencias y
          aventuras, creando una comunidad colaborativa donde planificar juntos cada detalle del
          viaje sea fácil y divertido. Descubre nuevos destinos, conoce compañeros de ruta y haz que
          cada viaje sea una experiencia compartida.
            </p>
            <div class="spacer"></div>
            <div class="actions">
              <button class="btn btn-primary" (click)="loadLogin('log')">{{ buttonLogin }}</button>
              <button class="btn btn-secondary" (click)="loadLogin('reg')">{{ buttonRegister }}</button>
            </div>
          }

          @case ('login') {
            <app-login [register]="false" (submitted)="onLogin($event)"></app-login>
            <div class="actions">
              <button class="btn btn-primary" (click)="loginChild.submitUser()">{{ buttonLogin }}</button>
              <button class="btn btn-secondary" (click)="goBack()">{{ buttonBack }}</button>
            </div>
          }

          @case ('register') {
            <app-login [register]="true" (submitted)="onLogin($event)"></app-login>
            <div class="actions">
              <button class="btn btn-secondary" (click)="loginChild.submitUser()">{{ buttonRegister }}</button>
              <button class="btn btn-secondary" (click)="goBack()">{{ buttonBack }}</button>
            </div>
          }
        }

      </div>
    </div>
  </div>
</body>
